<ion-view view-title="Atualizar Usuario">
  <ion-content>
    <div class="list" ng-init="carregar()">
      <label class="item item-input item-stacked-label">
        <span>Nome</span>
        <input type="text" value="nome" ng-model="cadastroAtualizar.nome">
      </label>
      <label class="item item-input item-stacked-label">
        <span>telefone</span>
        <input type="text" value="00-00000-0000" ng-model="cadastroAtualizar.telefone">
      </label>
      <label class="item item-input item-stacked-label">
        <span>E-mail</span>
        <input type="email" value="E-mail" ng-model="cadastroAtualizar.email">
      </label>
      <label class="item item-input item-stacked-label">
        <span>Usuario</span>
        <input type="text" value="User" ng-model="cadastroAtualizar.usuario">
      </label>
      <label class="item item-input item-stacked-label">
        <span>Senha</span>
        <input type="password" ng-model="cadastroAtualizar.senha">
      </label>
      <label class="item">
        <button type="button" class="button button-block button-balanced" ng-click="atualizar()">Atualizar</button>
      </label>
    </div>
  </ion-content>
</ion-view>
