<ion-view view-title="Enviar dados Para Ánalise">
  <ion-content>
    <form ng-submit="enviar()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Dados</span>
          <input type="number" name="name" value="Dados" ng-model="dadosRementente.faixa">
        </label>
        <label class="item">
          <button class="button button-block button-balanced" type="submit">Enviar Dados</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
