<template name="menu">
	<nav class="navbar navbar-default">
	<div class="collapse navbar-collapse">
  		<button type="button" class="btn btn-warning dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    		MENU <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu">
    		<li><a href="/pendentes">Dados Pendentes</a></li>
    		<li><a href="#">Dados Respondidos</a></li>
    		<li role="separator" class="divider"></li>
    		<li><a href="/">Home</a></li>
  		</ul>
	</div>
</nav>
</template>