<template name="analise">
	{{> menu}}
	<div class="panel panel-warning">
		<div class="panel-heading">Pendente</div>
		<div class="panel-body">
			<p>Esta tabela traz dados para análise de dados pendentes no qual não foi encontrada nenhuma informação ao comparar os dados da tabela informativa</p>
		</div>

		<table class="table table-hover">
		<tbody>
			<tr>
				<th>Nome Agricultor</th>
				<th>Faixa</th>
				<th>E-mail</th>
				<th>Status</th>
				<th>Cadastrar</th>
				<th>Baixar Requisição</th>
			</tr>
			{{#each pendente}}
			<tr>
				<td>{{ nomeRementente }}</td>
				<td>{{ faixa }}</td>
				<td>{{ email }}</td>
				<td>{{ status }}</td>
				<td><a href="/cadastrar"><span class="label label-success">Cadastrar</span></a></td>
				<td><a href="#" class="baixa"><span class="label label-danger">Baixar Pendencia</span></a></td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	</div>
</template>
